<div class="content_post">
 <div class="row">
  <div class="col s12 m6">
    <div class="card grey lighten-5 ">
      <div class="card-content black-text">
        <%= simple_format(tweet.text) %>
      </div>
      <div class="card-action">
        <%= link_to "詳細", tweet_path(tweet.id), method: :get, class: "waves-effect waves-light btn" %>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
        <%= link_to "編集", "/tweets/#{tweet.id}/edit", method: :get, class: "waves-effect waves-light btn" %>
        <%= link_to "削除", "/tweet/#{tweet.id}", method: :delete, class: "waves-effect waves-light btn" %>
        <% end %>
      </div>
    </div>
  </div>
 </div>
   <span class="name">
     <a href="/users/<%= tweet.user_id %>">
       <span><%= tweet.user.nickname %></span>
     </a>
   </span>
</div>